.row
  .col-xs-12
    %h1
      All Grams
      %small GramsContoller#index
    %hr
    - if Gram.count > 0
      - Gram.all.each do |gram|
        .row
          .col-xs-12.col-md-6.col-md-offset-1
            %section.panel.panel-default.gram-panel
              .panel-body
                = image_tag gram.photo, class: 'img-responsive img-rounded'
                %hr
                %p= gram.message
              .panel-footer.clearfix
                %span
                  = link_to "#{gram.comments.count} Comments", '#'
                  - if current_user == gram.user
                    |
                    = link_to "Edit", edit_gram_url(gram), class: 'text-warning'
                %span.pull-right= gram.user.email
          .col-xs-12.col-md-3
            %h4 Recent Comments

            - if gram.comments.count > 0
              - gram.comments.order(created_at: :asc).limit(2).each do |comment|
                %blockquote
                  %p= comment.text
                  %footer
                    %cite= comment.user.email
                    = "on #{comment.updated_at.strftime('%b %d')} at #{comment.updated_at.strftime('%I:%M %p')}"
                    - if comment.user == current_user
                      = link_to "Edit", edit_gram_comment_url(gram, comment), class: 'text-warning'
                      = link_to "Delete", gram_comment_url(gram, comment), class: 'text-danger', method: :delete

            - else
              %hr
              %p No comments yet! Add yours below.

            = simple_form_for @comment, url: gram_comments_url(gram), html: {id: "new_comment_for_gram_#{gram.id}"} do |f|
              = f.input :text, label: 'Comment'
              = f.submit "Add Comment", class: 'btn btn-success btn-sm'
        %hr.visible-xs-block.visible-sm-block
    - else
      %p.lead There are no grams uploaded yet!
